.finalizar{
  height: 50px;
  margin-left: 20rem !important;
margin-top: 2rem !important;
  background-color: rgb(255, 255, 255);

}

.color2 {
  color: yellow;
  font-weight:bold;
}
.container2{
  max-width: 500px !important;

    &_img2{
        width: 200px;
    height: 200px;
    margin-left: -1rem;
    }
}
.card2{
        
  
      height: 500px !important;
      
    border-radius: 8px;
      box-shadow: 0 2px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      margin: 2rem;
      text-align: center;
      transition: all 0.25s;
    }
    .card:hover {
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
      }